dn: cn={{ldapfullnametestuser}},cn=usuarios,ou=personas,{{ldapdomaincomponents}}
cn: {{ldapfullnametestuser}}
gidnumber: 500
givenname: {{ldaptestuserfirstname}}
homedirectory: /home/users/{{ldaptestusername}}
loginshell: /bin/sh
objectclass: inetOrgPerson
objectclass: posixAccount
objectclass: top
sn: {{ldaptestusersurname}}
uid: {{ldaptestusername}}
uidnumber: 1000
userpassword: {{ldaptestusernamepasswd}}